.flex_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    height: 600;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}