.card {
    margin: 1rem 1rem 1rem 1rem;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    width: 100%;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    height: 600;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}